.footer-above {
    padding: 40px;
    margin-top: 20px;
    background: #F8F7F7;
    text-align: center;
}

.list-inline {
    margin-top: 10px;
    margin-bottom: -25px;
}

.list-inline p {
    margin: -15px 0px 15px;
}

.footer-above p {
    color: $white;
}

.footer-below {
    background: #F8F7F7;
}