@import "./src/assets/stylesheets/_index.scss";

.nudge {
  margin: 10px 16px 25px 35px;
  padding: 10px 0px;
}

p {
  text-align: left;
  display: clear;
}

.text-center{
  text-align: center;
}

.card img {
  width: 80%;
}

.small-img {
  width: 300px;
  height: 350px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 2px 2px 3px black;
}

h2 {
  color: white;
}

label {
  color: #4C3E27;
}

#button {
  background-color: #CAD028;
  color: #4C3E27;
}

.banner {
  background-color: #c00a44;
  position: relative;
  text-align: center;
  color: white;
  height: calc(80% - 3em);
  background-size: cover !important;
  align-items: center;
  padding-bottom: 10px;
}

