<div class="container">
    <div class="row">
        <h2>Show your support for SPANA</h2>
        <div class="col-xs-12 col-md-6">
            <p>To help celebrate International Working Animal Day, please leave our teams a message of support and spread the
                word about SPANA’s work helping working animals and the communities that rely on them. <br><br> If, like
                us, you believe that every working animal deserves to be treated with compassion, please leave us a short
                message and help to populate the map with kindness.<br><br> You can tell us why you support our work, leave
                our teams some words of encouragement, or just let us know if you’re also passionate about working animal
                welfare.
                <br><br> By sharing this page with your friends on Facebook, you can help to spread the word about our work
                and the importance of caring for working animals.<br><br> Thank you to all of our kind and generous supporters,
                we’re looking forward to hearing from you!</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img class="donkey" src="assets/imgs/DSC05566.jpg" width="100%">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <a href="AddEvent" class="button red donate">Leave a Message of Support</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3><strong>Click ont he map below to read messages from our supporters</strong></h3>
                <map-input [mymap]="mymap"></map-input>
                <map (onMap)="onMap($event)"></map>
            </div>
        </div>
    </div>
</div>