<div class="container">
    <div class="col-xs-12 col-md-6">
        <div class="row">
            <h3>Show your support for SPANA</h3>
            <div class="row">
                <p>To help celebrate International Working Animal Day, please leave our teams a message of support and spread
                    the word about SPANA’s work helping working animals and the communities that rely on them. If, like us,
                    you believe that every working animal deserves to be treated with compassion, please leave us a short
                    message and help to populate the map with kindness. You can tell us why you support our work, leave our
                    teams some words of encouragement, or just let us know if you’re also passionate about working animal
                    welfare. By sharing this page with your friends on Facebook, you can help to spread the word about our
                    work and the importance of caring for working animals. Thank you to all of our kind and generous supporters,
                    we’re looking forward to hearing from you!</p>
            <div class="container">
                <div class="row">
                    <p>Enter your postcode to search for local events</p>
                    <map-input [mymap]="mymap"></map-input>
                    <map (onMap)="onMap($event)"></map>
                </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-6">


        </div>
    </div>
</div>