.note {
  color: #a8a8a8;
}

.logo {
  width: 400px;
  display: block;
  margin: 0 auto;
}

a {
  // text-align: center;
  margin: 40px auto;
  color: #c00a44;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-size: 14px;
  bottom: 10px;
  left: 10px;
  padding-bottom: 30px;
}

img {
  margin-bottom: 20px;
  width: 92%;
}

h3 {
  margin-top: 20px;
  font-size: 16px;
}


.donate {
  color: #fff;
  text-transform: uppercase;
}

.button {
  background: #c00a44;
  font-weight: 800;
  font-size: 24px;;
  border: 1px solid transparent;
  padding: 0.85em 1em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.donkey {
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 2px 2px 3px black;
}

.row .control-group {
  margin-right: 0px;
  margin-left: 0px;
}

.form-group {
  text-align: center;
}

@media only screen and (max-width: 350px) {
    .button {
      font-size: 0.8em;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
      width: 280px;
    }
}

@media only screen and (min-width: 992px) {
    .donkey {
      width: 450px;
      height: 350px;
    }
}

.banner {
  background-color: #c00a44;
  position: relative;
  text-align: center;
  color: white;
  height: calc(80% - 3em);
  background-size: cover !important;
  align-items: center;
  padding-bottom: 20px;
}

.card {
  height: calc(80% - 3em);
  position: relative;
  background-size: cover !important;
  background-color:#CAD028;
  margin-top: 30px;
  color: #4C3E27;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#p-bold {
  font-weight: bolder;
  font-size: 20px;
  padding-top: 30px;
}

.banner-img {
  position: relative;
  background-size: cover !important;
  text-align: center;
  color: white;
  height: calc(80% - 3em);
  align-items: center;
}