.note {
  color: #a8a8a8;
}

.logo {
  width: 400px;
  display: block;
  margin: 0 auto;
}

a {
  // text-align: center;
  margin: 40px auto;
  color: #c00a44;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: uppercase;
}

p {
  text-align: justify;
  font-size: 20px;
  margin-top: 30px;
}

img {
  margin-bottom: 20px;
  width: 92%;
  float: right;
}

h3 {
  margin-top: 20px;
  font-size: 16px;
}


.donate {
  color: #fff;
  text-transform: uppercase;
}

.button {
  background: #c00a44;
  font-weight: 800;
  font-size: 1.15em;
  border: 1px solid transparent;
  padding: 0.85em 1em;
  margin-bottom: 20px;
  margin-top: 50px;
}

.donkey {
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 2px 2px 3px black;
}

@media only screen and (max-width: 350px) {
    .button {
      font-size: 0.8em;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
      width: 280px;
    }
}

@media only screen and (min-width: 992px) {
    .donkey {
      width: 450px;
      height: 350px;
    }
}

.banner {
  background-color: #c00a44;
  position: relative;
  text-align: center;
  height: 100px;
  color: white;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */ 
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}


