<div class="banner">
    <div class="row">
        <div class="col-xs-12">
            <h2>Show your support for SPANA</h2>
            <map-input [mymap]="mymap"></map-input>
            <map (onMap)="onMap($event)"></map>
            <div class="card">
                <p id="p-bold">To help celebrate International Working Animal Day, please leave our teams a message of support and spread
                    the word about <a href="https://spana.org" target="_blank">SPANA’s</a> work helping working animals and
                    the communities that rely on them.</p>
                <p> If, like us, you believe that every working animal deserves to be treated with compassion, please <a href="#message">leave us a short
                message</a> and help to populate the <a href="#mapid">map</a> with kindness.<br><br> You can tell us why
                    you <a href="suggestions">support</a> our work, leave our teams some words of encouragement, or just
                    let us know if you’re also passionate about working animal welfare.
                    <br><br> By sharing this page with your friends on Facebook, you can help to spread the word about our
                    work and the importance of caring for working animals.<br><br> Thank you to all of our kind and generous
                    supporters, we’re looking forward to hearing from you!</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center" style="padding-top: 20px">
    <button *ngIf="!loggedIn" id="message" class="nudge button red donate" (click)="login()">Leave a Message of Support</button>
    <button *ngIf="loggedIn" class="nudge button red donate" (click)="logout()">Logout</button>
</div>



<div class="row" id="message-form">
    <div class="col-lg-8 col-lg-offset-2">
        <form *ngIf="loggedIn">
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Name/Organisation/Group</label>
                    <input type="text" [(ngModel)]="name" class="form-control" name="name" placeholder="Name/Organisation/Group" id="name" required
                        data-validation-required-message="Please enter a message.">
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Postcode or nearest town</label>
                    <input type="postcode" [(ngModel)]="postcode" class="form-control" name="_replyto" placeholder="eg. Paris, France, 75002"
                        id="location" required data-validation-required-message="Please enter a message.">
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Message</label>
                    <textarea class="form-size" name="message" [(ngModel)]="message" class="form-control" placeholder="Your message" id="message"
                        required data-validation-required-message="Please enter a message."></textarea>
                </div>
            </div>
            <br>
                <div class="text-center col-xs-12">
                    <button (click)="fbPostData(name, postcode, message)" class="nudge button red donate" id="post-message">Post</button>
                </div>
        </form>
    </div>
</div>


  