<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>Thank you for showing your support for SPANA! Help spread the word about the importance of working 
         animal welfare by sharing this page with your friends.</p>
      <img class="img-responsive pledge donkey-one" src="../assets/imgs/DSC05566.jpg" alt="">
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive pledge donkey-two" src="../assets/imgs/pledge.jpg" alt="">
      <div style="margin-top: 20px" class="fb-share-button" data-href="https://spana.org/spana-pledge" data-layout="button" data-size="large" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fspana.org%2Fspana-pledge&amp;src=sdkpreparse"></a>
      </div>
    </div>
  </div>
</div>

