.pledge {
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 2px 2px 3px black;
}

.donkey-one {
  margin-top: 1.8em;
  margin-bottom: 150px;
}

.donkey-two {
  margin-top: 5px;
  width: 450px;
  height: 350px;
  margin-bottom: 25px;
}

.fb-share-button {
  margin-top: 3em;
  margin-left: 15em;
}

p {
  font-size: 20px;
}
