<div class="container">
  <div class="row">
    <img class="img2 img-feet" src="../assets/imgs/hooves.png" alt="Foot prints">
    <div class="col-xs-12 col-md-6 col-lg-offset-3">
      <img class="img1 img-responsive pledge donkey-two" src="../assets/imgs/two_donkeys.jpg" alt="Donkeys">
      <div class="card">
        <p>Thank you for showing your support for SPANA! Help spread the word about the importance of working animal welfare
          by sharing this page with your friends.
        </p>
      </div>
      <div class="row text-center">
        <div style="margin-top: 20px" class="fb-share-button" data-href="https://spana.org/spana-pledge" data-layout="button" data-size="large"
          data-mobile-iframe="true">
          <a target="_blank" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?app_id=432878787074328&kid_directed_site=0&sdk=joey&u=https%3A%2F%2Fspana.org%2Fspana-pledge&display=popup&ref=plugin&src=share_button','title','width=500,height=300')">
              <button style="background: #3B5998" class="img-responsive button donate">Share on facebook</button>
            </a>
        </div>
        <div class="message"><button id="button" (click)="fbMessage()" class="img-responsive button red donate">Show my message</button></div>
      </div>
    </div>
  </div>
</div>