#mapid {
  text-align: center;
  height: calc(65vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */ 
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-detail ul {
  list-style-type: none;
  padding: 10px;
  padding-left: 0;
  border-top: 1px solid black;
}

.user-detail ul li {
  padding-right: 20px;
}

.marker-cluster-small, .marker-cluster-small div, .marker-cluster-medium, .marker-cluster-medium div,
.marker-cluster-large, .marker-cluster-large div {
	background-color: transparent;
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small, .leaflet-oldie .marker-cluster-small div, 
.leaflet-oldie .marker-cluster-medium, .leaflet-oldie .marker-cluster-medium div, 
.leaflet-oldie .marker-cluster-large, .leaflet-oldie .marker-cluster-large div {
	background-color: transparent;
}

@media only screen and (min-width: 769px) {
    #mapid {
      width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #mapid {
      // width: 500px;
      // height: 600px;
    }
    img {
      text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    #mapid {
      // width: 280px;
      height: 400px;
    }
}


