.marker-cluster-small, .marker-cluster-small div, .marker-cluster-medium, .marker-cluster-medium div,
.marker-cluster-large, .marker-cluster-large div {
	background-color: transparent !important;
	}
// .marker-cluster-small div {
//   background-color: transparent !important;
//   // background-image: '/assets/imgs/heart-icon.png' !important;
// 	}

// .marker-cluster-medium {
//   background-color: transparent !important;
// 	}
// .marker-cluster-medium div {
// 	background-color: transparent !important;
// 	}

// .marker-cluster-large {
// background-color: transparent !important;
// 	}
// .marker-cluster-large div {
// background-color: transparent !important;
// 	}


#mapid {
  width: 650px;
  height: 800px;
  margin: 0 auto;
}

.user-detail ul {
  list-style-type: none;
  padding: 10px;
  padding-left: 0;
  border-top: 1px solid black;
}

.user-detail ul li {
  padding-right: 20px;
}

@media only screen and (max-width: 1400px) {
    #mapid {
      width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #mapid {
      width: 500px;
      height: 600px;
    }
}

@media only screen and (max-width: 500px) {
    #mapid {
      width: 280px;
      height: 400px;
    }
}
